parameters:
	level: max
	paths:
		- src/
		- tests/tester/
	fileExtensions:
		- php
		- phpt

	tmpDir: tests/var/temp
	bootstrapFiles:
		- tests/tester/autoload.php
	ignoreErrors:
		- '#^Call to an undefined method Nette\\Forms\\Form::(addReCaptcha|addTheSweetReCaptcha)\(\)\.$#D'
