<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ReCAPTCHA test</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/readable/bootstrap.min.css" rel="stylesheet">
	</head>

<body>
	<div class="container">
		<h1 class="page-header">
			<a href="https://github.com/uestla/ReCaptchaControl">reCAPTCHA for Nette\Forms</a>
		</h1>

		<form n:name="$form" class="form-horizontal">
			<ul n:if="$form->errors">
				<li class="alert alert-danger" n:foreach="$form->errors as $error">
					{$error}
				</li>
			</ul>

			<div class="form-group">
				<label n:name="recaptcha" class="col-sm-2 control-label">reCAPTCHA</label>

				<div class="col-sm-10">
					<div n:name="recaptcha"></div>
					<span class="help-block">Please prove that you are not a robot</span>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button n:name="send" class="btn btn-success">Send form</button>
				</div>
			</div>
		</form>
	</div>

	<script type="text/javascript" src="../../vendor/nette/forms/src/assets/netteForms.min.js"></script>
	<script type="text/javascript" src="../../src/assets/recaptcha.js"></script>
</body>
</html>
