extensions:
	recaptcha: ReCaptchaControl\DI\Extension

recaptcha:
	siteKey: RECAPTCHA_SITEKEY
	secretKey: RECAPTCHA_SECRETKEY
	requester: ReCaptchaControl\Http\Requester\GuzzleRequester

services:
	-
		factory: Guzzle\Http\Client
		setup:
			- setUserAgent('Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.104 Safari/537.36')
