extensions:
	recaptcha: ReCaptchaControl\DI\Extension

recaptcha:
	siteKey: RECAPTCHA_SITEKEY
	secretKey: RECAPTCHA_SECRETKEY
	requester: @customRequester

services:
	customRequester:
		factory: Tests\Mocks\CustomRequester
